/* NORMOLIZE */

html {
  scroll-behavior: smooth;
}

/* *, *::after, *::before{
    box-sizing: border-box;
} */

body {
  margin: 0;
  background-color: #1c2225;
  color: #fcf9f9;
  font-family: "Manrope", sans-serif;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
p {
  margin-block: 0;
}
ul {
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
}

/* a:hover,
a:focus{
} */

button {
  /* display: block; */
  cursor: pointer;
  font-family: inherit;
  background: none;
}
input {
  font-family: inherit;
  background-color: inherit;
}
address {
  font-style: normal;
}

.container {
  max-width: 1280px;
  padding-inline: 50px;
  margin: 0 auto;
  outline: 2px dotted red;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.accent {
  color: #ecd979;
}

/* HEADER */

.header-nav-list {
  display: flex;
  gap: 25px;
  align-items: center;
}
.header-nav-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: #fcf9f9;
  padding-block: 17px;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #ecd979;
}
.header-logo-link {
  margin-right: 60px;
}
.header-addr-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  text-transform: uppercase;
  color: #fcf9f9;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 28px;
}
.header-addr-tel:hover,
.header-addr-tel:focus {
  border: 1px solid #ecd979;
}
.header-soc-list {
  display: flex;
  gap: 12px;
  align-items: center;
}
.soc-list-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: #fcf9f9;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 8px;
  background-color: rgba(252, 249, 249, 0.1);
}
.soc-list-link:hover,
.soc-list-link:focus {
  border: 1px solid #ecd979;
  background-color: transparent;
}
.header-addr-soc-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

.header-container {
  display: flex;
  align-items: center;
  padding-block: 20px;
  justify-content: center;
}

/* HERO */
.hero-section {
  padding-top: 100px;
  padding-bottom: 75px;
}
.hero-card {
  border-radius: 15px;
  margin-right: 40px;
}

.hero-title {
  font-weight: 400;
  font-size: 54px;
  line-height: 1.18;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  max-width: 518px;
  margin-right: 115px;
  margin-bottom: 40px;
  margin-top: 94px;
}

.hero-btn {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  padding: 14px 39px;

  display: flex;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  justify-content: center;
  gap: 10px;
  max-width: 168px;
  margin-left: 140px;
}
.hero-btn:hover,
.hero-btn:focus {
  border: 1px solid #ecd979;
}
.hero-star {
  margin-top: 14px;
  max-width: 115px;
}
.hero-star img {
  margin: 0 auto 16px;
}
.hero-star-descr {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(252, 249, 249, 0.4);
}
.hero-container {
  display: flex;
}
/* ABOUT US */

.about-section {
  padding-block: 75px;
}
.about-container {
  display: flex;
  gap: 50px;
}
.about-text-container {
  align-self: center;
  max-width: 536px;
}
.about-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.45;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
}
.about-descr {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
}
.about-descr:nth-child(2n) {
  margin-bottom: 20px;
}
.about-card {
  border-radius: 4px;
}

/* OUR COLLECTION */

.collection-section {
  padding-block: 75px;
}
.collection-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.45;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  text-align: center;
  margin-bottom: 40px;
}
.collection-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
}
.collection-list-item {
  flex-basis: calc((100% - 2 * 20px) / 3);
}
.collection-card {
  border-radius: 4px;
  margin-bottom: 18px;
}
.collection-card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fcf9f9;
  margin-bottom: 8px;
}
.collection-card-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: rgba(252, 249, 249, 0.4);
}

/* PROMOPHOTO */

.promo-section {
  padding-block: 75px;
}
.promo-card {
  min-height: 776px;
  object-fit: cover;
}
.promo-container {
  padding: 0;
}

/* FORM */

.form-section {
  padding-block: 75px;
}
.form-container {
  display: flex;
  gap: 50px;
}
.form-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.31818;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
}
.form-input-text {
  display: block;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 16px;
  color: #fcf9f9;
  margin-bottom: 20px;
  width: 508px;
}
.form-input-comment {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 8px;
  padding: 14px 16px;
  width: 508px;
  height: 196px;
  overflow: auto;
  color: #fcf9f9;
  margin-bottom: 40px;
}
.form-input-text:hover,
.form-input-text:focus,
.form-input-comment:hover,
.form-input-comment:focus {
  border: 1px solid #ecd979;
}

.form-btn {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  padding: 14px 39px;

  display: flex;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  justify-content: center;
  gap: 10px;
  max-width: 168px;
}

.form-btn:hover,
.form-btn:focus {
  border: 1px solid #ecd979;
}
.form-card {
  border-radius: 4px;
  align-self: flex-start;
  object-fit: cover;
}

/* Testimonials */
